@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import '/src/sass/modifications.scss';
@import '/src/sass/main/header.scss';
@import '/src/sass/main/about.scss';
@import '/src/sass/main/categories.scss';
@import '/src/sass/main/reviews.scss';
@import '/src/sass/main/about-us.scss';
@import '/src/sass/main/articles.scss';
@import '/src/sass/main/subscription.scss';
@import '/src/sass/main/footer.scss';
@import '/src/sass/main/bestseller.scss';
@import '/src/sass/main/about.scss';



body{
    color: #000;
    font-size: 14px;
}
.btn:hover{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.content{
    max-width:calc(1595px + 16px *2);
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.title{
    @include fontz($ubuntu,$fst,$fw,32px,38px,$colorDefaultBlack);
}
