@import '../modifications.scss';

.reviews{
    padding: 50px 0 0;
    .reviews__container{
        background-color: $colorWhite;
        .reviews__slider{
            margin:35px 65px 0;
            padding: 45px 0;
            overflow: hidden;
            .reviews__slider-line{
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                column-gap: 15px;
                position: relative;
                left: 0;
                transition: all ease 1s;
                .slider__item{
                    background-color: $colorDefaultWhite;
                    max-width: 480px;
                    width: 100%;
                    border: 1px solid #E8E8E8;
                    border-radius: 5px;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    .item__top-row{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;
                        .top-row__left-column , .top-row__right-column{
                            display: flex;
                            flex-direction: column;
                            row-gap: 8px;
                        }
                    }
                    .item__line{
                        width: 100%;
                            margin: 0 auto;
                        height: 2px;
                        background-color: $colorGray;
                    }
                    .item__text{
                        margin-top: 20px;
                        @include fontz($ubuntu,$fst,300,14px,144%,$colorDefaultBlack);
                    }
                    .item__link{
                        margin-top: 8px;
                        text-decoration: underline;
                        @include fontz($ubuntu,$fst,400,14px,144%,$colorOrange);
                    }
                }
            }
            .slider__btn--right{
                position: absolute;
                top: 50%;
                right: 0;
                        transform: translateY(-50%);
            }
            .slider__btn--left{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                    }
            .btn{
                width: 45px;
                height: 45px;
                border-radius: 30px;
                border: none;
                background-color: $colorDefaultWhite;
            }
            .reviews__btn{
                background-color: $colorOrange;
                width: 222px;
                height: 40px;
                border: none;
                color: $colorDefaultWhite;
                margin-top: 25px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 0;
            }
        }
    }
}

.reviews__content{
    position: relative;
}

.item__star{
    display: flex;
    margin: 0 auto;
    column-gap: 27px;
    li{
        list-style: url('/src/assets/images/reviews-star.png');
    }
}
